{% extends "base.html" %}

{% block content %}
<h2>{{title}}</h2>
<br>
<a class="mr-2 btn btn-md btn-primary" href="{{ url_for('bills.createBillForm')}}">Skapa Nota</a>
<br></br>
<h2>Skickade notor</h2>
{%for bill in current_user.bills%}

<a class="article-title" href="{{ url_for('bills.oneBill', billid=bill.billid)}}"><div class="card flex-row flex-wrap">
	<div class="card-header w-100 text-muted">
		<h4 class="card-title">{% for image in bill.receipts %}
		<img class="rounded bill-img" src="{{ url_for('bills.uploaded_file', folder=bill.filefolder, filename=image.filename) }}">
		{% endfor %}{{bill.title}}</h4>

	<div class="row">
	
	{%if bill.statusid == 1%}
	<span class="badge badge-warning bill-badge-status">Ej publicerad</span>
	{%elif bill.statusid == 2%}
	<span class="badge badge-primary bill-badge-status">Under behandling</span>
	{%else%}
	<span class="badge badge-success bill-badge-status">Avslutad</span>
	{%endif%}
	
	</div>

</div>
</div></a>
<br>



{%endfor%}

<h2>Notor som jag deltar i</h2>
{%for debt in current_user.billdebts%}
{%if debt.bill.statusid != 1%}
<a class="article-title" href="{{ url_for('bills.oneDebt', billdebtToken=debt.token)}}">
<div class="card flex-row flex-wrap">
	<div class="card-header w-100 text-muted">
		<h4 class="card-title">{% for image in debt.bill.receipts %}
		<img class="rounded bill-img" src="{{ url_for('bills.uploaded_file', folder=debt.bill.filefolder, filename=image.filename) }}">
		{% endfor %}{{debt.bill.title}}</h4>

	<div class="row">
	
	{%if debt.bill.statusid == 1%}
	<span class="badge badge-warning bill-badge-status">Ej publicerad</span>
	{%elif debt.bill.statusid == 2%}
	<span class="badge badge-primary bill-badge-status">Under behandling</span>
	{%else%}
	<span class="badge badge-success bill-badge-status">Avslutad</span>
	{%endif%}
	
	</div>
</div>
</div></a>
<br>
{%endif%}
{%endfor%}

{% endblock %}