{% extends "base.html" %}

{% block content %}

<h1>{{title}}</h1>
<h3>{{bill.title}} {{ bill.date_created.strftime('%Y-%m-%d') }}</h3>

Har du redan anslutit dig så klicka på ditt namn nedan.
<br>
<br>
<h4>Deltagare redan anslutna</h4>


{%for debt in bill.claims%}
{% if debt.payer.usertype == 3%}
<a class="btn btn-primary col-4 btn-md" href="{{ url_for('bills.oneDebt', billdebtToken=debt.token)}}">{{debt.payer.username}}</a>
<br>
<br>
{%endif%}

{% endfor %}

<h4>Ny deltagare?</h4>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  
    
   
      <label for="exampleInputEmail1">Välj ett namnn</label>
  
    <div class="input-group">
      {{ form.nickname(class_="form-control", placeholder="alias") }}
      <div class="input-group-append">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
     {% if form.nickname.errors %}
    <span class="error col-sm-2 col-form-label text-danger">{% if error %}{{error}}{%endif%}
     
      {% for error in form.nickname.errors %}
      {{ error }}
      {% endfor %}
      {% endif %}
    </span>

   
  
  
  
 
</form>
<br>


{% endblock %}