{% extends "base.html" %}

{% block content %}
<h2>Skuld{{debt.billdebtid}}</h2>


<div class="card flex-row flex-wrap">
	<div class="card-header w-100 text-muted">
		<h4 class="card-title">{% for image in debt.bill.receipts %}
		<img class="rounded bill-img" src="{{ url_for('bills.uploaded_file', folder=debt.bill.filefolder, filename=image.filename) }}">
		{% endfor %}{{debt.bill.title}}</h4><span class="badge badge-secondary bill-badge-date">{{ debt.bill.date_created.strftime('%Y-%m-%d') }}</span>

	<div class="row">
	
	{%if debt.bill.statusid == 1%}
	<span class="badge badge-warning bill-badge-status">Ej publicerad</span>
	{%elif debt.bill.statusid == 2%}
	<span class="badge badge-primary bill-badge-status">Under behandling</span>
	{%else%}
	<span class="badge badge-success bill-badge-status">Avslutad</span>
	{%endif%}
	
	</div>

</div>
	
	<div class="card-body">
		
  <div class="row">
 <div class="col col-sm-6"><li class="list-inline-item">&Sigma; nota</li></div>
  <div class="col col-sm-6"><li class="list-inline-item">{{debt.bill.amount_bill}}</li></div>
  </div>
  <div class="row">
 <div class="col col-sm-6"><li class="list-inline-item">&Sigma; total</li></div>
  <div class="col col-sm-6"><li class="list-inline-item">{{debt.bill.amount_total}}</li></div>
  </div>
    <div class="row">
 <div class="col col-sm-6"><li class="list-inline-item">&Sigma; taget</li></div>
  <div class="col col-sm-6"><li class="list-inline-item">{{ debt.bill.claims |sum(attribute='amount_owed') + debt.bill.amount_payee}}</li></div>
  </div>
   <div class="row">
   <div class="col col-sm-6"><li class="list-inline-item">&Sigma; min del</li></div>
  <div class="col col-sm-6"><li class="list-inline-item"><form class="form-inline" action="{{ url_for('bills.updateDebt_MyShare', billdebtid=debt.billdebtid) }}" method="POST"><div class="input-group mb-3">
  <input type="text" class="form-control form-control-sm col-4" onfocus="this.select();" id="myshare" name="myshare" value="{{ debt.amount_owed}}" placeholder="min del" aria-label="Min del" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary btn-sm" type="submit" >Uppdatera</button>
  </div>
</div>
        </form></li></div>
  </div>
  <small> <br> <a data-toggle="collapse" href="#collapseInvoice" role="button" aria-expanded="false" aria-controls="collapseExample">
    Faktura
  </a></small>
  <div class="collapse" id="collapseInvoice">
  
<h4>Faktura:</h4>
Summa: {{debt.invoice.amount}}
   <br>
   Titel: {{debt.invoice.description}}
   <br>
   Id: {{debt.invoice.invoiceid}}
   <br>
   Version: {{debt.invoice.invoice_version}}
   <br>
   Status: {{debt.invoice.statusid}}
   <br>
	
 
 </div>

	</div>
	<div class="w-100">
	<div class="w-100">
	<div class="w-100 h-25 d-inline-block" style="overflow:scroll">
  <div id="img-wrapper" style="width:350px; height:200px; ">
  	{% for image in debt.bill.receipts %}
    <img class="img-fluid" src="{{ url_for('bills.uploaded_file', folder=debt.bill.filefolder, filename=image.filename) }}">
    {%endfor%}
  </div>
</div>
<div class="d-flex justify-content-center">
	<span class="font-weight-bold purple-text mr-2"><i class="fas fa-minus" aria-hidden="true"><small>&#128269;</small></i></span>
<form class="range-field w-75">
<input id="mySlider" class="custom-range" orient="vertical" class="input-range" type="range" min="1" max="2" step="0.01" value="1" oninput="resizeImage();">
</form>
<span class="font-weight-bold purple-text ml-2"><i class="fas fa-plus" aria-hidden="true"></i>&#128269;</span>
</div>
<script type="text/javascript">
function resizeImage() {
  var image = document.getElementById('img-wrapper'),
      ranger = document.getElementById('mySlider');
  image.style.width = 350*(mySlider.value / 1)+'px';
}
</script>
<div class="d-flex justify-content-center">
<form name="calculator" class="form-group">
 <table>
    <tr>
       <td colspan="4">
          <input type="text" class="form-control input-lg" name="display" id="display" disabled>
       </td>
    </tr>
    <tr>
       <td><input type="button" class="btn btn-primary btn-circle btn-md" name="one" value="1" onclick="calculator.display.value += '1'"></td>
       <td><input type="button" class="btn btn-primary btn-circle btn-md"name="two" value="2" onclick="calculator.display.value += '2'"></td>
       <td><input type="button" class="btn btn-primary btn-circle btn-md"name="three" value="3" onclick="calculator.display.value += '3'"></td>
       <td><input type="button" class="operator btn btn-warning btn-circle btn-md" name="plus" value="&#43;" onclick="calculator.display.value += '+'"></td>
    </tr>
    <tr>
       <td><input type="button" class="btn btn-primary btn-circle btn-md"name="four" value="4" onclick="calculator.display.value += '4'"></td>
       <td><input type="button" class="btn btn-primary btn-circle btn-md"name="five" value="5" onclick="calculator.display.value += '5'"></td>
       <td><input type="button" class="btn btn-primary btn-circle btn-md"name="six" value="6" onclick="calculator.display.value += '6'"></td>
       <td><input type="button" class="operator btn btn-warning btn-circle btn-md" name="minus" value="&#8722;" onclick="calculator.display.value += '-'"></td>
    </tr>
    <tr>
       <td><input type="button" class="btn btn-primary btn-circle btn-md"name="seven" value="7" onclick="calculator.display.value += '7'"></td>
       <td><input type="button" class="btn btn-primary btn-circle btn-md"name="eight" value="8" onclick="calculator.display.value += '8'"></td>
       <td><input type="button" class="btn btn-primary btn-circle btn-md"name="nine" value="9" onclick="calculator.display.value += '9'"></td>
       <td><input type="button" class="operator btn btn-warning btn-circle btn-md" name="times" value="&#215;" onclick="calculator.display.value += '*'"></td>
    </tr>
    <tr>
       <td><input type="button" class="btn btn-danger btn-circle btn-md" id="clear" name="clear" value="C" onclick="calculator.display.value = ''"></td>
       <td><input type="button" class="btn btn-primary btn-circle btn-md" name="zero" value="0" onclick="calculator.display.value += '0'"></td>
       <td><input type="button" class="btn btn-success btn-circle btn-md" name="doit" id="equalsBtn" value="&#61;" onclick="calculator.display.value = eval(calculator.display.value)"></td>
       <td><input type="button" class="operator btn btn-warning btn-circle btn-md" name="div" value="&#247;" onclick="calculator.display.value += '/'"></td>
    </tr>
 </table>
</form>

</div>
<div class="d-flex justify-content-center">
<small class="justify-content-center">Ditt resultat kopieras upp till fältet ovan</small>
</div>


	</div>

</div>

<script>

	//document.getElementById("equalsBtn").element.addEventListener("click", myFunction);
document.getElementById('equalsBtn').addEventListener('click',function(){
	console.log("= clicked")
        var result = document.getElementById('display');
        console.log(result.value)
        var resultBox = document.getElementById('myshare');
        if(isFinite(result.value)){
        	resultBox.value = result.value;
        	resultBox.style.color = "green"
        }else{
        	console.log('not a number')

        }
        

        //fontcolor("green")
        //var charCode = (evt.which) ? evt.which : evt.keyCode;
        //phoneNumber.value = phoneFormat(phoneNumber.value);
});

	function myFunction() {
  alert ("Hello World!");
}
</script>




{% endblock %}