{% extends "base.html" %}
{% block content %}





<p><a href="/">Home</a></p>
<p><a href="#" id="user">Friends and Foes</a></p>
<p><a href="#" id="claim">Claims and Debts</a></p>



<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script>
      $("#user").on("click", function(){
        $("#sub-menu").load("/user");
      });
      $("#claim").on("click", function(){
        $("#sub-menu").load("{{ url_for('invoices_blueprint.claim') }}");
      });
    </script>

<div id="sub-menu">

  

</div>
<br>
</div>
{% if user %} 

{% include 'user.html' %}

{% endif %}
{% if claim %} 

{% include 'claim.html' %}

{% endif %}


{% endblock %}
