{% if not embedded %}

{% extends "base.html" %}
{% endif %}

{% block content %}

{% if embedded %}
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>
  $("#close").on("click", function(){
    $("#sub-menu").load("/claim");
  });

</script>

{% endif %}
<h1>{% if change %}Ändra{% else %}Skapa{% endif %} faktura {% if embedded %}<a href="#" id="close" class="btn btn-sm btn-danger"><b>&times</b></a> {% endif %}</h1>
<p></p>
<br>
 <label for="exampleInputEmail1">Till</label>
<form role="form" method="post" action="" id="form_inv" novalidate>
  <div class="form-group">

  {{ form.csrf_token }}
  
    {% if change %}
    <p>Ändra i faktura{{invoice.invoiceid}} till {{ invoice.receiver.username }}</p>
    {% else %}

    {% for subfield in form.inv_type %}
    
      {% if loop.index == 1 %}
      <p>
      {{ subfield }}
      {{ subfield.label }}
      <span id="user2">

        {{form.receiver(class_="form-control", placeholder="mottagare")}}
         <span class="error col-sm-2 col-form-label text-danger">
          {% if form.receiver.errors %}
          {% for error in form.receiver.errors %}
          {{ error }}<br>
          {% endfor %}
          {% endif %}
         </span>
      </span>
      </p>
      {%endif%}

      {% if loop.index == 2 %}
       <p>
      {%if current_user.confirmed_email%}
      
     
      {{ subfield }}
      {{ subfield.label }} <small>(Avgift: 2 &#129373-krediter)</small>
      <span id="email2">
      
      {{form.email(class_="form-control", placeholder="E-mail")}}
      <small id="emailHelp" class="form-text text-muted">Du kan hämta adresser från din telefon med "autofill"</small>
      <small id="emailHelp" class="form-text text-muted">Din E-mailadress kommer att vara synlig för mottagaren</small>
      
        <span class="error col-sm-2 col-form-label text-danger">
          {% if form.email.errors %}
          {% for error in form.email.errors %}
          {{ error }}<br>
          {% endfor %}
          {% endif %}
         </span>
      {%endif%}
      </span>
      </p>
      {%endif%}

      {% if loop.index == 3 %}
      <p>
      {%if current_user.confirmed_phone%}
      
      {{ subfield }}
      {{ subfield.label }} <small>(Avgift: 5 &#129373-krediter)</small>
      <span id="phone2">
      {{form.phone(class_="form-control", placeholder="Telefonummer", pattern="[0-9]*")}}
      <small id="emailHelp" class="form-text text-muted">07XXXXXXXX</small>
      <small id="emailHelp" class="form-text text-muted">Du kan hämta nummer från din telefonbok med "autofill"</small>
      <small id="emailHelp" class="form-text text-muted">Ditt telefonnummer kommer att vara synligt för mottagaren</small>
         <span class="error col-sm-2 col-form-label text-danger">
          {% if form.phone.errors %}
          {% for error in form.phone.errors %}
          {{ error }}<br>
          {% endfor %}
          {% endif %}
         </span>
      
      {%endif%}
      <span id="phone2">
    </p>
      {%endif%}
        
       
    {% endfor %}
 
    
  {% endif %}
  <br>
   <label for="exampleInputEmail1">Beskrivning</label>

    {% if change %}
    {{ form.description(class_="form-control", placeholder="Avser betalning för...") }}
    {% else %}
    {{ form.description(class_="form-control", placeholder="Avser betalning för...") }}
    {% endif %}
    

    <span class="error col-sm-2 col-form-label text-danger">
      {% if form.description.errors %}
      {% for error in form.description.errors %}
      {{ error }}
      {% endfor %}
      {% endif %}
    </span>
  </p>
 <label for="exampleInputEmail1">Belopp</label>
  {% if change %} 
  {{ form.amount(class_="form-control", placeholder=invoice.amount, value=invoice.amount, pattern="[0-9]*") }}
  {% else %}
  {{ form.amount(class_="form-control", placeholder="Belopp", pattern="[0-9]*") }}
  {% endif %}
  <span class="error col-sm-2 col-form-label text-danger">
    {% if form.amount.errors %}
    {% for error in form.amount.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
  </span>
</p>



{% if change2 %} 
<button class="btn btn-sm btn-success" type="submit">Update!</button>
</form>
<br>
<br> 
<form method="post" action="/deleteaccount">
  <input class="btn btn-sm btn-danger" type="submit" value="Remove my account!" onclick="return confirm('Press OK to remove your account. This can not be undone!')">
</form>
<br>   
<p><a href="/">Back</a></p>
{% else %}
{% if change %}
<button class="btn btn-sm btn-primary" type="submit" id="submit">Update invoice!</button>
{% else %}
<button class="btn btn-sm btn-primary" type="submit" id="submit">Fakka!</button>
{% endif %}
{% if embedded %}
{% if change %}
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<script>
  $("#form_inv").submit(function(e) {
    e.preventDefault();
    url= "/invoice/change"+"{{invoice.invoiceid|safe}}"
    $.post(url,
      $("#form_inv").serialize(),
      function( data ) {
        $('#invoice_quick').html( data );

      }

      );
  });

</script>

{% else %}

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<script>
  $("#form_inv").submit(function(e) {
    e.preventDefault();
    $.post("/invoice/create-emb=True",
      $("#form_inv").serialize(),
      function( data ) {
        $('#invoice_quick').html( data );

      }

      );
  });

</script>
{% endif %}
{% endif %}
</div>
</form>
{% endif %}



{% endblock %}