{% extends "base.html" %}

{% block content %}
{% if change %}
<br>

<h1>Uppdatera användaruppgifter</h1>
<br>
<p>Du behöver bara ange lösenord om du vill ändra det</p>
{% else %}
<h1>Registrera konto</h1>
{% endif %}
<br>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {% if change %}
    {{ form.username(value=username) }}
    {% else %}
    {{ form.username(placeholder="Användarnamn") }}
    {% endif %}
    
    <span class="error">
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    {% if change %} 
    {% if email %} 
     {{ form.email(value=email) }}
     {% else %}
    {{ form.email(placeholder="Email") }}
    {% endif %}
    

    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  {% endif %}

 {% if change %} 
    {% if phone %} 
     {{ form.phone(value=phone) }}
     {% else %}
    {{ form.phone(placeholder="Telefonnummer") }}
    {% endif %}
    <span class="error">
      {% if form.phone.errors %}
        {% for error in form.phone.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
{% endif %}

  <p>
  {{ form.password(placeholder="Lösenord") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.confirm(placeholder="Bekräfta lösenord") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
{% if change %} 
<button class="btn btn-sm btn-success" type="submit">Uppdatera!</button>
</form>
<br>
<br> 
<form method="post" action="/deleteaccount">
  <input class="btn btn-sm btn-danger" type="submit" value="Ta bort mitt konto!" onclick="return confirm('OK att ta bort konto? Detta är permanent och alla dina uppgifter kommer att raderas!')">
</form>
<br>
{% else %}
  <button class="btn btn-sm btn-success" type="submit">Registrera!</button>
</form>
{% endif %}



{% endblock %}