{% extends "base.html" %}

{% block content %}
{% if change %}
<br>

<h1>Uppdatera användaruppgifter</h1>
<br>

{% else %}
<h1>Skapa konto</h1>
{% endif %}
<br>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
     <label for="exampleInputEmail1">Användarnamn</label>
    {% if change %}
    {{ form.username(class_="form-control", value=username) }}
    {% else %}
    {{ form.username(class_="form-control", placeholder="Användarnamn") }}
    {% endif %}
    
    <span class="error col-sm-2 col-form-label text-danger">
      {% if form.username.errors %}
      {% for error in form.username.errors %}
      {{ error }}
      {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
   
    {% if change %} 
     <label for="exampleInputEmail1">E-mail</label>
    {% if email %} 
    {{ form.email(class_="form-control", value=email) }}
    {% else %}
    {{ form.email(class_="form-control", placeholder="E-mail") }}
    {% endif %}
    

    <span class="error col-sm-2 col-form-label text-danger">
      {% if form.email.errors %}
      {% for error in form.email.errors %}
      {{ error }}
      {% endfor %}
      {% endif %}
    </span>
  
  {% endif %}
  </p>

  {% if change %} 
  <label for="exampleInputEmail1">Telefonnummer</label>
  {% if phone %} 
  {{ form.phone(class_="form-control", value=phone, pattern="[0-9]*") }}
  {% else %}
  {{ form.phone(class_="form-control", placeholder="Telefonnummer", pattern="[0-9]*") }}
  {% endif %}
  <small id="emailHelp" class="form-text text-muted">07XXXXXXXX</small>
  <span class="error col-sm-2 col-form-label text-danger">
    {% if form.phone.errors %}
    {% for error in form.phone.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
  </span>
</p>
{% endif %}

<p>
  <label for="exampleInputEmail1">Lösenord</label>
  
  {{ form.password(class_="form-control", placeholder="Lösenord") }}
  <span class="error col-sm-2 col-form-label text-danger">
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
  </span>
</p>
<p>
  {{ form.confirm(class_="form-control", placeholder="Bekräfta lösenord") }}
  {%if change%}
  <small id="emailHelp" class="form-text text-muted">Du behöver bara ange lösenord om du vill ändra det</small>
  {%endif%}
  <span class="error col-sm-2 col-form-label text-danger">
    {% if form.confirm.errors %}
    {% for error in form.confirm.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
  </span>
</p>
{% if change %} 
<button class="btn btn-sm btn-success" type="submit">Uppdatera!</button>
</form>
<br>
<br> 
<form method="post" action="{{ url_for('user.deleteaccount')}}">
  <input class="btn btn-sm btn-danger" type="submit" value="Ta bort mitt konto!" onclick="return confirm('OK att ta bort konto? Detta är permanent och alla dina uppgifter kommer att raderas!')">
</form>
<br>
{% else %}
<button class="btn btn-sm btn-success" type="submit">Registrera!</button>
</form>
{% endif %}



{% endblock %}