{% extends "base.html" %}
{% block content %}
<p>Ange nytt lösenord för {{user.username}}</p>

<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
<p>
  <label for="exampleInputEmail1">Lösenord</label>
  {{ form.password(class_="form-control", placeholder="Lösenord") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p><label for="exampleInputEmail1">Bekräfta</label>
  {{ form.confirm(class_="form-control", placeholder="Bekräfta lösenord") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>

 <button class="btn btn-sm btn-success" type="submit">Spara!</button>
</form>
{% endblock %}