
{% block content %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  -->
  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link rel='icon' href='static/favicon.ico' type='image/x-icon'/ >
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css') }}">
  
  <script src="{{url_for('static', filename='javascript/friends.js')}}"></script>
  <script src="{{url_for('static', filename='javascript/invoice.js')}}"></script>
  {% if title %}
  <title>fakk. - {{ title }}</title>
  {% else %}
  <title>fakk.</title>
  {% endif %}
</head>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      
        </div><!-- Optional Sidebar
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        -->
      </div>

      <body>
        <header class="site-header"></header>
        {%if success%}
        <p>Klart å betart!</p>
        <p>faktura{{token}} betalades med swish och ska ha blivit markerad som betald på fakk.</p>
        <br>
        {%else%}
        <p>Betalningen fullföljdes ej</p>
        <p>Något gick fel eller så avbröts betalningen. Du kan försöka igen på fakk.</p>
        <br>
        {%endif%}
        <h1>Du kan stänga detta fönster</h1>
      </body>
    </div>
  </main>
  {% endblock %}