{% extends "base.html" %}

{% block content %}
<script src="{{url_for('static', filename='javascript/friends.js')}}"></script>
<h3>Friends and Foes</h3>


<input type="text" id="user_search" name="user_search" placeholder="search new friends..">
<input type="button" class="btn btn-sm btn-primary" onclick="list_users(user_search.value)" value="Search"/>


<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script>
      
        $(document).ready(function() {   //same as: $(function() { 

     get_user_relations();

});

</script>


<div id="user-search" >
</div>

<div id="pending_friends">
  
</div>
<div id="list_friends">
 
</div>


{% endblock %}