body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.bg-fakk {
  background-color: #592b83;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 50px;
  width: 50px;
  margin-right: 16px;

}

.article-btn {
  /*height: 65px;
  width: 65px;*/
  margin-left: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.invoice-buttons {
  float: right;
  vertical-align:top;
  padding-bottom: 1px;
  margin-left: 4px;
  border-left: 1px solid #e3e3e3
}

.invoice-content {
  float: left;
  vertical-align:top;
  padding-bottom: 1px;
  margin-left: 8px;
  /*border-left: 1px solid #e3e3e3*/
}

.invoice-section-primary {
  background: #ffffff;
  padding: 10px 20px;
  border: 2px solid #337ab7;
  border-radius: 3px;
  margin-bottom: 20px;
}
.invoice-section-warning {
  background: #ffffff;
  padding: 10px 20px;
  border: 2px solid #f0ad4e;
  border-radius: 3px;
  margin-bottom: 20px;
}

.invoice-section-success {
  background: #ffffff;
  padding: 10px 20px;
  border: 2px solid #5cb85c;
  border-radius: 3px;
  margin-bottom: 20px;
  border-color: #8FBC8F;
}
.invoice-section-danger {
  background: #ffffff;
  padding: 10px 20px;
  border: 2px solid #d9534f;
  border-radius: 3px;
  margin-bottom: 20px;
}


.footer-fakk {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: #778899;*/
  color: white;
  text-align: center;
  z-index: 999;
}

.btn-circle.btn-sm { 
            width: 30px; 
            height: 30px; 
            padding: 6px 0px; 
            border-radius: 15px; 
            font-size: 8px; 
            text-align: center; 
        }

.btn-circle.btn-md { 
            width: 50px; 
            height: 50px; 
            padding: 7px 10px; 
            border-radius: 25px; 
            font-size: 20px; 
            text-align: center; 
        } 
.btn-circle.btn-xl { 
            width: 70px; 
            height: 70px; 
            padding: 10px 16px; 
            border-radius: 35px; 
            font-size: 12px; 
            text-align: center; 
        } 



.container1{
  height:100px;
  width:300px;
  background-color:red;
  overflow:auto;
}
.image1{
  height:300px;
  width:300px;
  background-color:yellow;
  transform:scale(1,1); /*Change scale to 1 to see the original form*/
}




#user2
{
    display:none;
}
#email2
{
    display:none;
}

#phone2
{
    display:none;
}
#inv_type-0:checked ~ #user2
{
  display: block;
}
#inv_type-1:checked ~ #email2
{
  display: block;
}

#inv_type-2:checked ~ #phone2
{
  display: block;
}



