<!DOCTYPE html>
<html>
  <head>
    <title>Greenero - You know you owe me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="{{url_for('static', filename='javascript/friends.js')}}"></script>
  </head>
  <body>
    <div class="container">
<style>
    body {
        background-color: #778899;
    }
    div {
       
        background-color: #DCDCDC;
    }
    table, th, td {
  padding: 5px;
  width: 100%;
  text-align: left;
  table-layout: fixed;


}
th:last-child,
td:last-child,
th:nth-last-child(2),
td:nth-last-child(2) {
    text-align: right;
}
</style>
      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  
  <small>Powered by Kerbus Finans</small>

  </body>
</html>