{% extends "index.html" %}

{% block content %}
<h3>Friends and Foes</h3>

<br>
<p></p>

<input type="text" id="user_search" name="user_search" placeholder="search new friends..">
<input type="button" class="btn btn-sm btn-primary" onclick="list_users(user_search.value)" value="Search"/>


<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script>
      
        $(document).ready(function() {   //same as: $(function() { 

     get_user_relations();

});

    </script>
<br>
<br>


<div id="user-search" style="overflow:scroll">
  <br>
  </div>

<div id="pending_friends" style="overflow:scroll">
  <br>
  <h4>Pending</h4>
  Pending friend requests
  <input type="button" class="btn btn-sm btn-primary" onclick="get_user_relations()" value="List pending"/>
</div>
<div id="list_friends" style="overflow:scroll">
  <br>
  <h4>Friends list</h4>
  Here current friends should show
  <br>
  

</div>


{% endblock %}